[Unit]
Description=tg-note
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/pro/tg-note
ExecStart=/usr/bin/python3.12 /root/pro/tg-note/start_bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target